@model List<TC.Bertoni.Interface.Models.PhotoDTO>

<table class="table-responsive">
    <thead>
        <tr>
            <th>@TC.Bertoni.Resources.Photo.Title</th>
            <th>@TC.Bertoni.Resources.Photo.Url</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var photo in Model)
        {
            <tr>
                <td>@photo.title</td>
                <td>@photo.url</td>
                <td>
                    <input type="button" class="form-control" value="@TC.Bertoni.Resources.Photo.ViewComments" onclick="loadComments(@photo.id)" />
                    <div id="showcomments">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function loadComments(photoId) {
        $('#showcomments').empty();
        $.ajax({
            type: 'GET',
            url: '/Comment/GetCommentsByPhoto/',
            data: { "photoId": photoId },
            success: function (dataResult) {
                $('#showcomments').html(dataResult);
            },
            error: function (ex) {
                console.log(ex);
            }
        });
    }
</script>
